@model HomeViewModel
@inject SignInManager<IdentityUser> signInManager


@{
    ViewData["Title"] = "Home Page";
    var issuesByDueDate = Model.MyIssues.OrderBy(d => d.DueDate);

}


@if (signInManager.IsSignedIn(User))
{
    Console.WriteLine("HEY");
    <div>
        <div class="container">
            <div class="row">
                @if (issuesByDueDate.Count() != 0)
                {
                <div class="col-lg mr-2">
                    <div style="background-color: darkslategray; text-align: center" className="divider">
                        <h2><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MyIssues">My Issues</a></h2>
                    </div>

                    @*<h3><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MyIssues">My Issues</a></h3>*@
                    <ul class="list-group">

                        @foreach (var issue in issuesByDueDate)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div><a href="@Url.Action("issuedetails", "issue", new { issueId = issue.IssueId })" class="text-info mr-1">@issue.Title</a></div>
                                <div>
                                    @{
                                        var severityBackgroundColor = "";
                                        switch (issue.IssuePriority)
                                        {
                                            case IssuePriority.critical:
                                                severityBackgroundColor = "#b81c04";
                                                break;
                                            case IssuePriority.major:
                                                severityBackgroundColor = "#d67404";
                                                break;
                                            case IssuePriority.minor:
                                                severityBackgroundColor = "#ffee00";
                                                break;
                                        }
                                    }
                                    <span class="badge badge-pill" style="background-color: @severityBackgroundColor; color: black;">@issue.IssuePriority</span>
                                    @{
                                        var statusBackgroundColor = "";
                                        var badgeText = "";
                                        switch (issue.IssueStatus)
                                        {
                                            case IssueStatus.closed:
                                                badgeText = "Closed";
                                                statusBackgroundColor = "#00bc8c";
                                                break;
                                            case IssueStatus.open:
                                                badgeText = "Open";
                                                statusBackgroundColor = "#375a7f";
                                                break;
                                            case IssueStatus.to_be_tested:
                                                statusBackgroundColor = "#3498DB";
                                                badgeText = "To Be Tested";
                                                break;
                                        }
                                    }
                                    <span class="badge badge-pill" style="background-color: @statusBackgroundColor; color: black;"> @badgeText</span>
                                    <span class="badge badge-info badge-pill" style="color: black;">Due Date: @issue.DueDate.ToShortDateString()</span>
                                </div>

                            </li>
                        }

                    </ul>
                </div>
                }


            <div class="col-lg">
                @*<span class="badge badge-pill badge-primary">Primary - Completed</span>
                <span class="badge badge-pill badge-secondary">Secondary - OnHold</span>
                <span class="badge badge-pill badge-success">Success - Active</span>
                <span class="badge badge-pill badge-danger" a>Danger - Delayed</span>
                <span class="badge badge-pill badge-warning">Warning - InTesting</span>
                <span class="badge badge-pill badge-info">Info - OnTrack</span>
                <span class="badge badge-pill badge-light">Light - InPlanning</span>
                <span class="badge badge-pill badge-dark">Dark - Cancelled</span>*@
                <div style="background-color: darkslategray; text-align: center" className="divider">
                    <h2><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MyProjects">My Projects</a></h2>
                </div>
                @*<h3><a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="MyProjects">My Projects</a></h3>*@

                @if (Model.MyProjects.Count() == 0)
                {
                    <h5>Get started by adding a project</h5>
                    <div>
                        <a class="btn btn-primary" href="@Url.Action("addproject", "project")">Add Project</a>
                    </div>

                }
                else
                {
                    <ul class="list-group">

                        @foreach (var project in Model.MyProjects)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">

                                <div>
                                    <a href="@Url.Action("SetGlobal", "project", new { projectId = project.ProjectId })" class="text-info mr-1">@project.ProjectName</a>
                                </div>
                                <div>
                                    @{
                                        var badgeSatus = "";
                                        var badgeText = "";
                                        switch (project.ProjectStatus)
                                        {
                                            case ProjectStatus.Completed:
                                                badgeSatus = "badge-primary";
                                                badgeText = "Completed";
                                                break;
                                            case ProjectStatus.OnHold:
                                                badgeSatus = "badge-secondary";
                                                badgeText = "On Hold";
                                                break;
                                            case ProjectStatus.Active:
                                                badgeSatus = "badge-success";
                                                badgeText = "Active";
                                                break;
                                            case ProjectStatus.Delayed:
                                                badgeSatus = "badge-danger";
                                                badgeText = "Delayed";
                                                break;
                                            case ProjectStatus.InTesting:
                                                badgeSatus = "badge-warning";
                                                badgeText = "In Testing";
                                                break;
                                            case ProjectStatus.OnTrack:
                                                badgeSatus = "badge-info";
                                                badgeText = "On Track";
                                                break;
                                            case ProjectStatus.InPlanning:
                                                badgeSatus = "badge-light";
                                                badgeText = "In Planning";
                                                break;
                                            case ProjectStatus.Cancelled:
                                                badgeSatus = "badge-dark";
                                                badgeText = "Cancelled";
                                                break;
                                        }
                                    }
                                    <span class="badge @badgeSatus badge-pill" style="color: black;">Status: @badgeText</span>

                                    <span class="badge badge-info badge-pill" style="color: black;">End Date: @project.EndDate.ToShortDateString()</span>
                                    <span class="badge badge-info badge-pill" style="color: black;">Owner Id: @project.OwnerUserName</span>


                                </div>
                            </li>

                        }
                    </ul>
                }



            </div>
            </div>


        </div>
    </div>

}
else
{
    <h4>Please sign in </h4>
}

